@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

/* ! https://oklch.com/#0.7,0.1,118,100 */

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --theme1: oklch(0.145 0 0);
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --metodopago: 240 10% 3.9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --selected-slot-bg: lightyellow;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);

    --border-primary: var(--color-gray-200);
    --calendar-btn: black;
  }

  /* :root.dark { */
  .dark {
    --theme1: var(--color-yellow-50);
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --metodopago: oklch(42.687% 0.17893 288.805);
    --purple-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --selected-slot-bg: #333;
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.439 0 0);

    --border-primary: oklch(0.339 0 0);
    --calendar-btn: white;
  }
}

.bg-highlight {
  background-color: var(--theme1);
  color: var(--sidebar);
  &&:hover {
    background-color: oklch(from var(--theme1) l c h / 0.8);
  }
}

.border-card {
  border: 1px solid var(--border-primary);
}

.border-task {
  border: 1px solid var(--border-primary);
  &&:hover {
    border-color: var(--primary);
    opacity: 0.9;
    cursor: pointer;
  }
}

.fade-out {
  mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
}

.dark .btn-dark {
  background-color: #eee;
  color: #111;
  &&:hover {
    background-color: #ddd;
  }
}

.dark .skeleton-bg-dark {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.dark .time-bg-badge {
  background-color: #eee;
  color: #222;
}

.logo-theme {
  content: url("../../public/light-heroimage.png");
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.dark .logo-theme {
  content: url("../../public/dark-heroimage.png");
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.dark .btn-send {
  background-color: oklch(14.031% 0.02303 302.764);
  color: rgb(63, 34, 143);
  &&:hover {
    background-color: oklch(17.699% 0.03938 274.893);
  }
}

.dark .metodopago {
  color: var(--metodopago) !important;
  border: 1px solid var(--card);
  background: oklch(23.013% 0.10308 294.18);
  /* padding: 8px; */
}
.dark .bg-footer {
  background-color: oklch(14.031% 0.02303 302.764);
}

.dark .bg-card:hover {
  background-color: oklch(15% 0.03303 302.764);
}

.dark .bg-card {
  background-color: oklch(14.031% 0.02303 302.764);
}

.dark .bg-card-main {
  background-color: oklch(13.838% 0.03003 301.597);
  border: 1px solid #2e1747;
  color: rgb(63, 34, 143);
}

.dark .bg-marquee {
  background-color: oklch(100% 0.00011 271.152);
  color: black;
}

.dark .bg-thousand_points {
  background: radial-gradient(rgba(255, 255, 255, 0.1) 1px, rgb(11, 7, 17) 1px);
  background-size: 16px 16px; /* puntos más chiquitos en dark */
}

/* ! FUENTES PERSONALIZADAS */

.font-geist {
  font-family: var(--font-geist-sans), sans-serif;
}

.font-geist-mono {
  font-family: var(--font-geist-mono), monospace;
}

.font-roboto {
  font-family: var(--font-roboto);
}

.font-orbitron {
  font-family: var(--font-orbitron);
}

/* ! FULLCALENDAR CLASS */

.fc {
  min-width: 345px;
  min-height: 450px;
  /* border: 1px solid green; */
}

/* Fondo y borde del evento */
.fc .fc-event {
  display: block;
  background-color: #fff;
  color: #444 !important; /* gris oscuro */
  border: none; /* quita el borde por defecto */
  border-radius: 0.375rem; /* esquinas suaves */
  padding: 0 4px;
  z-index: -10;
}

/* fc-event fc-event-start fc-event-end fc-event-today fc-daygrid-event fc-daygrid-dot-event */
.fc-daygrid-event {
  background-color: #90a1b9 !important;
}

.fc-day-sun {
  background-color: #f0eee9 !important; /* amarillo */
  opacity: 1 !important;
  color: rgba(0, 0, 0, 0.25);
}

.fc-toolbar-title {
  text-transform: capitalize;
  color: black;
}
.fc-daygrid-day-events {
  /* max-height: 35px; controla altura disponible para eventos */
  height: 70px;
}

.fc .fc-event-title {
  color: #444 !important;
}

.fc-day-today {
  background-color: #f7f5b9 !important;
  opacity: 0.6;
  color: black;
  position: relative;
  z-index: 1;
}

.fc-daygrid-day-number {
  color: #999 !important; /* color gris para los números de día */
}

.dark .fc-daygrid-day-top {
  background: transparent !important;
}

.dark .fc-daygrid-day-number {
  color: #555 !important;
  z-index: 2;
  position: relative;
}

.bg-previous-day {
  opacity: 1 !important;
  color: gray;
  z-index: -10;
  background-color: gray/90 !important;
}

.bg-modal {
  background-color: oklch(100% 0.00011 271.152);
  color: #444;
  border: 1px solid #eee;
}

.fc-timegrid {
  color: #444;
  font-size: 22px;
}

.dark .fc-scrollgrid {
  border: 1px solid #262627 !important; /* borde del calendario */
}

.dark .fc-toolbar-title {
  text-transform: capitalize;
  color: white !important;
}

.dark .fc-daygrid-day {
  border: 1px solid #262627 !important; /* borde del calendario */
  background-color: rgba(27, 5, 56, 0.3) !important; /* morado oscuro */
  opacity: 1;
}

.dark .fc-col-header-cell {
  border: 1px solid #262627 !important; /* borde del calendario */
}

.dark .fc-day-sun {
  background-color: rgba(0, 0, 0, 0.7) !important; /* morado oscuro */
  color: gray;
  opacity: 0.2 !important;
}

.dark .fc-day-today {
  background-color: rgba(43, 12, 83, 0.5) !important;
  color: gray;
}

.dark .fc,
.dark .fc-event {
  background-color: oklch(0.14031 0.02303 302.764) !important;
  border: none;
  padding: 0px 4px;
  z-index: -10;
}

.dark .fc-timegrid-now-indicator-container,
.dark .fc-scrollgrid-sync-inner {
  background-color: oklch(0.14031 0.02303 302.764) !important;
  z-index: -10;
}

.dark .fc,
.dark .fc-event-title {
  color: #444 !important;
}

.dark .bg-modal {
  background-color: oklch(14.031% 0.02303 302.764);
  border: 1px solid #2e1747;
  color: #777;
}

.dark .fc-timegrid {
  color: #777;
  border: 1px solid #eee;
}

.dark .fc-theme-standard,
.dark .fc-scrollgrid,
.dark .fc-theme-standard td,
.dark .fc-theme-standard th,
.dark .fc-timegrid-axis,
.dark .fc-scrollgrid,
.dark .fc-scrollgrid-liquid,
.dark .fc-timegrid,
/* .dark .fc-timegrid-slot, */
/* .dark .fc-timegrid-col-frame, */
.dark .fc-timegrid-col-events,
.dark .fc-timegrid-event-harness {
  border-color: #222 !important;
}

.dark .fc-timegrid-event-harness,
.dark .fc-timegrid-event-harness-inset {
  margin-top: 1px !important;
}

.dark .fc-event,
.dark .fc-event-main,
.dark .fc-event-title,
.dark .fc-event-time,
.dark .fc-event-start,
.dark .fc-event-end,
.dark .fc-event-future,
.dark .fc-timegrid-event,
.dark .fc-v-event {
  border: 1px solid #222 !important;
}

.dark .fc-col-header-cell,
.dark .fc-day-tue,
.dark .fc-day-disabled {
  background-color: oklch(0.205 0 0) !important;
}

.dark .fc-day {
  background-color: oklch(0.255 0 0) !important;
  position: relative;
  z-index: 1;
}

.fc-today-button.fc-button.fc-button-primary,
.fc-prev-button.fc-button.fc-button-primary,
.fc-next-button.fc-button.fc-button-primary {
  background-color: var(--calendar-btn) !important;
  color: var(--sidebar) !important;
  opacity: 0.9;
}

.fc-day-disabled {
  background-color: #eeeeee !important;
}

.dark .fc-highlight {
  background-color: oklch(0.205 0 0) !important;
  border: 1px solid white !important;
}

/* ! MEDIA QUERIES STYLES */

@media (max-width: 768px) {
  .bg-modal {
    width: 340px !important;
    height: 300px !important;
    /* margin-left: -5px; */
  }

  .fc-daygrid-day-events {
    height: 20px !important;
    display: none;
  }
}

@media (max-width: 540px) {
  .selected-slot {
    background-color: var(--selected-slot-bg) !important;
    border: 1px solid yellow !important;
    color: white !important;
    transition: 0.15s;
  }

  .dark .fc-highlight {
    background-color: oklch(0.205 0 0) !important;
    border: 1px solid white !important;
  }
  .bg-modal {
    height: 320px !important;
  }
  .dark .bg-modal {
    height: 320px !important;
    border: 1px solid #2e1747;
  }
  .fc-toolbar-title {
    font-size: 0.9rem !important; /* Ajusta el tamaño de fuente según sea necesario */
    font-family: var(--font-roboto) !important;
    text-transform: capitalize;
    padding-left: 12px;
  }
  .fc-scrollgrid-section {
    height: 25px !important;
  }
  .fc-dayGridMonth-view {
    width: 330px !important;
    padding-left: 5px;
    /* margin-left: 10px; */
    /* border: 1px solid red; */
  }
  .fc-media-screen {
    width: 344px !important;
  }

  .fc-toolbar {
    width: 335px !important;
  }

  .fc-button-group {
    padding: 0 2px;
    font-size: 10px;
  }

  .fc-today-button.fc-button.fc-button-primary {
    background-color: var(--calendar-btn) !important;
    color: var(--sidebar) !important;
    opacity: 0.9;
    font-size: 10px;
  }

  .fc-timegrid {
    color: #444;
    font-size: 12px;
    width: 330px !important;
    height: 200px !important; /* 350px */
  }

  .fc-timegrid-now-indicator-container {
    height: 280px !important;
  }

  .fc-timegrid-body,
  .fc-timegrid-col-frame {
    height: 280px !important;
  }

  .fc-scrollgrid-sync-inner {
    font-size: 12px;
    text-transform: uppercase;
    background-color: transparent !important;
  }

  .fc-col-header {
    background-color: var(--sidebar) !important;
    opacity: 1;
    border: 1px solid #222 !important;
  }

  .fc-scrollgrid {
    margin: 0 2px !important;
  }
}

.fc-timeGridWeek-button.fc-button.fc-button-primary.fc-button-active {
  font-size: 12px;
}

.dark .fc-timeGridWeek-button.fc-button.fc-button-primary.fc-button-active {
  font-size: 12px;
  margin-right: 5px;
}

/* ! Chrome styling for scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Ancho del scroll */
}

/* bar styling */
::-webkit-scrollbar-thumb {
  background-color: rgb(114, 114, 114);
  border-radius: 5px; /* Borde redondeado */
}

/* track bar styling */
::-webkit-scrollbar-track {
  background-color: rgb(15, 23, 42);
}

/* ! ANIMATIONS */
@keyframes marqueeColors {
  0% {
    background-color: #ffffff; /* amarillo */
    color: #1f2937; /* gris oscuro */
  }
  25% {
    background-color: #f87171; /* rojo */
    color: #ffffff; /* blanco */
  }
  50% {
    background-color: #60a5fa; /* azul */
    color: #000000; /* negro */
  }
  75% {
    background-color: #34d399; /* verde */
    color: #111827; /* gris muy oscuro */
  }
  100% {
    background-color: #fef08a; /* amarillo de nuevo */
    color: #1f2937;
  }
}

.animate-marqueeColors {
  animation: marqueeColors 4s infinite; /* 4 segundos en total, 1 cambio por segundo */
}

@keyframes flashColors {
  0%,
  100% {
    background-color: #ffffff; /* blanco */
    color: #000000; /* negro */
  }
  50% {
    background-color: #000000; /* negro */
    color: #ffffff; /* blanco */
  }
}

.animate-flashColors {
  animation: flashColors 2s infinite; /* 2s porque son 1s blanco + 1s negro */
}

:root {
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@theme inline {
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}
